<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="connect" connectionString="Data Source=DESKTOP-ME7NRIT\MSSQLSERVER01;Initial Catalog=QLThiTracNghiem;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
